<p id="notice"><%= notice %></p>

<p>
  <strong>File number:</strong>
  <%= @judgement.file_number %>
</p>

<p>
  <strong>Court:</strong>
  <%= @judgement.court %>
</p>

<p>
  <strong>Claimant:</strong>
  <%= @judgement.claimant %>
</p>

<p>
  <strong>Defendant:</strong>
  <%= @judgement.defendant %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @judgement.summary %>
</p>

<h3>Notifications</h3>
<%= render @judgement.notifications %>

<%= link_to 'Back', judgements_path %>